
.video-box{
  width: 100%;
  /* height: 680px; */
  position: relative;
}
.video-box video{
  width: 100%;
  background-color: aqua;
  
}

.box-shadow{
 
  width: 100%;
  height: 680px;
  /* background-color: rgba(0, 0,0, 0.8); */
  
   /* background-color: aqua; */
  position: absolute;
  top: 0;
  left: 0;
} 

.box-shadow h4{
 
  font-size: 50px;
}
@media (max-width:768px){
  .video-box{
    height: 250px;
  }
  .box-shadow h4{
    font-size: 20px;
  }
 .box-shadow{
   height: 80%;
 }
  
  
  /* .navbar .nav-link{
    color: teal !important; 

  } */
 

}