.btn-custom{
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 40px;
  width: 130px;
  gap: 10px;
}

@media (max-width:768px){

  .navbar .btn-custom{
    margin-top: 2px;
  }
  .btn-custom{
    justify-content: center;
    align-items: center;
    
  }
}